.logo-container {
  background-image: url("<%= url_for("images/logo-off.png") %>");
  background-repeat: no-repeat;
  background-size: contain;
}

.logo {
  width: 100%;
  opacity: 0;
  animation: flicker 3.5s linear 0.7s;
  animation-fill-mode: forwards;
}

@keyframes flicker {
  0% {
    opacity: 0;
  }

  9% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  11% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  21% {
    opacity: 1;
  }

  23% {
    opacity: 0;
  }

  49% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  51% {
    opacity: 0;
  }

  55% {
    opacity: 0;
  }

  56% {
    opacity: 1;
  }

  57% {
    opacity: 0;
  }

  61% {
    opacity: 0;
  }

  62% {
    opacity: 1;
  }

  63% {
    opacity: 0;
  }

  75% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
