.sponsors {
  background-color: var(--c-red);
  padding: var(--s-7);
  padding-bottom: var(--s-9);
}

.sponsors .section-title {
  color: var(--c-white);
  margin-bottom: var(--s-7);
}

.sponsors .details {
  max-width: var(--s-poster);
}

.sponsors .details a::after {
  display: none;
}

.sponsors .content {
  max-width: calc(var(--s-9) * 10);
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
}

.sponsors .sponsor-image {
  width: 100%;
}
