.sponsors {
  background-color: var(--c-red);
  padding: var(--s-7);
}

.sponsors .section-title {
  color: var(--c-white);
  margin-bottom: var(--s-7);
}

.sponsors .details {
  max-width: 420px;
}

.sponsors .content {
  max-width: calc(var(--s-9) * 10);
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
}
