<%= include("css/_reset.css") %>
<%= include("css/_fonts.css") %>
<%= include("css/_main.css") %>
<%= include("css/_manifesto.css") %>
<%= include("css/_getting_started.css") %>
<%= include("css/_community.css") %>
<%= include("css/_sponsors.css") %>

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.p {
  margin-bottom: var(--s-6);
}

.section-title {
  font-family: MedulaOne;
  font-size: var(--s-8);
}
